{% include "AdminBundle:Default:menu.html.twig" %}
{% block contenu %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Gestion de Menu 
                {% if app.request.query.get('valideadd')=='1' %} <span style='color:red'><b>La rubrique est bien ajouté.</b></span>  {% endif %}
                {% if valideedit is defined %} <span style='color:red'><b>La rubrique est bien Modifié.</b></span>  {% endif %}
                {% if app.request.query.get('validesupp')=='1' %} <span style='color:red'><b>La rubrique est bien supprimé.</b></span>  {% endif %}
                
                <a class="btn btn-sm btn-success" href='{{path('add_menu2')}}'>
                    <i class="fa fa-plus"></i>
                </a>
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Gestion de Menu</li>
            </ol>
        </section>


        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr id=''>
                                    <th>Num</th>
                                    <th>Rubrique</th>
                                    <th>Url</th>
                                    <th>Actions</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% set i=0 %}
                                {% for menu in menus %}
                                    {% set i=i+1%}

                                    <tr id="tr_{{menu.id}}_{{ i }}">
                                        <td>{{ i }}</td>
                                        <td>{{ menu.description }}</td>
                                        <td>{{ menu.url }}</td>
                                        <td>
                                            <a  href='{{path('edit_menu2', { 'id': menu.id })}}' class="btn btn-info btn-xs btn-edit"><i class="fa fa-pencil"></i></a> 
                                            <a href="{{path('delete_menu2', { 'id': menu.id })}}" id="{{menu.id}}_{{ i }}" class="btn btn-danger btn-xs btn-delete" onclick="return confirm('Etes vous sur de vouloir supprimer cette Rubrique ?');"><i class="fa fa-trash-o"></i></a>
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr id=''>
                                    <th>Num</th>
                                    <th>Rubrique</th>
                                    <th>Actions</th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <!-- /.box-body -->
                </div>


                <!-- ./col -->
            </div>
            <!-- /.row -->

            <!-- /.row (main row) -->

        </section>

    </div>
{% endblock %}

{% include "AdminBundle:Default:footer.html.twig" %}